$desktop: 1200px;
$mobile: 700px;

:root {
  // colors
  --cl-yellow: #eaae00;
  --cl-primary-light: #cfd8dc;
  --cl-accent: rgb(2, 192, 218);
  --cl-accent-dark: rgb(0, 171, 194);
  --cl-primary: #465ac9;
  --cl-primary-dark: #3f51b5;

  --cl-blue: var(--cl-primary);
  --cl-blue-dark: var(--cl-primary-dark);
  --cl-dark-grey: #202124;
  --cl-error: red;
  --cl-danger: red;
  --cl-white: white;
  --cl-off-white: #f8f8ff;
  --cl-link-hover: #1a8ee2;
  --cl-link-hover: var(--cl-accent-dark);

  --text-main: #333;
  --text-inverse: white;
  --text-muted: #838383;

  // spacing
  --px: Min(Max(0.25rem, 4vw), 4rem);
  --gutter: Min(Max(0.25rem, 2.5vw), 2rem);

  // dimensions
  --top-form-toggler-size: 4.5rem;

  // border
  --border-color: #878787;
  --border-radius: 7px;

  // z-index
  --z-bg-overlay: 500;
  --z-TopLevelArticleForm: 700;
  --z-form-toggle: 800;
  --z-modal: 1000;
  --z-menu-button: 900;
  --z-menu-modal: 850;

  @media (max-width: $mobile) {
    --top-form-toggler-size: 3.5rem;
  }
}

html {
  box-sizing: border-box;
  font-size: Min(Max(95%, calc(1vw + 3px)), 125%);
  // https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
  height: -webkit-fill-available;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cl-dark-grey);
  color: var(--text-main);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h2,
h3,
p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a,
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
  color: var(--text-muted);
  transition: all 200ms ease;
  &:hover {
    color: var(--text-main);
    border-color: var(--text-main);
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--cl-link-hover);
  }
}

input,
textarea,
.button {
  font: inherit;
  padding: 0.75em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

/* ========================= 
 *  VENDORS 
 * =========================== */

// Spinner
// Source: https://tobiasahlin.com/spinkit/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 30vh;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--cl-white);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

// React-Masonry-Css
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  @media (max-width: $mobile) {
    margin-left: 0;
  }
}
.my-masonry-grid_column {
  padding-left: var(--gutter); /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

/* ========================= 
 *  UTILITIES
 * =========================== */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nowrap {
  white-space: nowrap;
}

.accent {
  color: var(--cl-accent) !important;
}

/* ========================= 
 *  COMPONENT CLASSES
 * =========================== */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
  border-radius: var(--border-radius);
  background: white;
  .form-buttons {
    text-align: right;
  }
}

.input-control {
  width: 100%;
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
  input,
  textarea {
    width: 100%;
  }

  textarea {
    resize: none;
  }

  .error-message {
    position: absolute;
    font-size: 0.9em;
    bottom: -1.1em;
    left: 1em;
    color: var(--cl-error);
  }
}

.button {
  color: var(--text-muted);
  border: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  &:hover {
    color: var(--text-main);
  }
}

.button-sm {
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
}

.button-md {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.25em 0.5em;
  color: var(--text-muted);
  span {
    display: block;
    line-height: 0; // remove empty space at the bottom
  }
  &.inverse {
    &:hover {
      color: var(--text-inverse);
    }
  }
}

.button-bg {
  width: 100%;
  background: var(--cl-blue);
  padding: 1em 2em;
  color: var(--text-inverse);
  font-size: 1.2rem;
  font-weight: bold;
  &:hover,
  &:focus {
    background: var(--cl-blue-dark);
    color: var(--text-inverse);
  }
}

.button-danger {
  &:hover {
    color: var(--cl-danger);
    transform: scale(1.1);
  }
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-bg-overlay);
  background-color: rgba(0, 0, 0, 0.6);
}

/* ========================= 
 *  KEYFRAMES
 * =========================== */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ========================= 
 *  REACT COMPONENTS
 * =========================== */

.App {
  opacity: 0;
  animation: fade-in 1.5s forwards ease-in-out;
  .app-main {
    padding: 3rem var(--px) 4rem;
    min-height: 100vh;
    @media (max-width: $mobile) {
      padding: 1rem 2px 4rem;
    }
  }

  .footer {
    color: var(--text-inverse);
    padding: 2rem;
    text-align: center;
  }
}

.MenuButton {
  position: fixed;
  z-index: var(--z-menu-button);
  right: var(--px);
  top: var(--px);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 40px;
  height: 35px;
  padding: 5px;
  margin-left: 1rem;

  span,
  &::before,
  &::after {
    content: '';
    display: block;
    height: 3px;
    background: var(--text-inverse);
    border-radius: 2px;
    box-shadow: 1px 1px 0 1.5px rgba(0, 0, 0, 1);
    transition: all 300ms ease;
  }

  &::before {
    width: 100%;
  }
  span {
    width: 75%;
  }
  &::after {
    width: 50%;
  }

  @media (max-width: $mobile) {
    display: flex;
  }

  &.close {
    &::before {
      transform: rotate(-45deg) translate(-8px, 7px);
    }
    span {
      transform: rotate(45deg);
      width: 100%;
    }
    &::after {
      opacity: 0;
    }
  }
}

.MenuModal {
  position: fixed;
  z-index: var(--z-menu-modal);
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  max-width: 350px;
  background: var(--cl-primary-dark);

  transition: all 200ms ease-in-out;
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  &.open {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .user-img {
    img {
      --size: Min(Max(80px, 20vw), 120px);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
    }
  }

  .user-name {
    margin: 1rem auto;
    font-size: 2rem;
    color: var(--text-inverse);
  }
  .about {
    font-size: 1.2rem;
  }

  .signout {
    margin-top: 4rem;
    font-size: 1.2rem;
    color: white;
    opacity: 0.8;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }
}

.Navbar {
  padding: 1rem var(--px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar-col-right {
    display: flex;
    gap: 1rem;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  .signout {
    position: relative;
    top: 2px;
  }
  .user-name {
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    color: var(--text-inverse);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-img {
    width: 3rem;
    height: 3rem;
  }
}

.Logo {
  .logo {
    font-size: 2.75rem;
    color: var(--text-inverse);
    letter-spacing: -2px;
    opacity: 0.9;
    white-space: nowrap;
    span {
      position: relative;
      top: 0.1em;
    }
    @media (max-width: $mobile) {
      font-size: 2rem;
    }
  }
}

.Topic {
  width: 100%;
  max-width: 520px;
  margin: 0 auto var(--gutter);
  padding: 1rem;
  background: var(--cl-off-white);
  border-radius: var(--border-radius);
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .topic-name {
      margin-bottom: 0.5em;
    }
    .topic-controls {
      position: relative;
      bottom: 0.25rem;
      display: flex;
    }
  }

  .topic-form {
    margin: 1rem 0;
  }
}

.Article {
  padding: 0.5rem;
  background: var(--cl-white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .article-name {
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 1em;
  }
  .article-controls {
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    .row {
      display: flex;
      justify-content: space-between;
      padding: 0 0.25em;
      gap: 0.5em;
    }
    button {
      font-size: 1rem;
    }
    .article-note {
      &.not-empty {
        color: var(--text-main);
      }
    }
  }
  .article-note-text {
    width: 100%;
  }
}

.Stars {
  display: flex;
  .star-item {
    margin: 0;
    &.star-on {
      svg {
        fill: var(--cl-yellow);
      }
    }
  }
}

.ArticleForm {
  z-index: 1000;
  min-width: 350px;
  &.border {
    border: 1px solid var(--border-color);
  }
}

.ConfirmationAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  p {
    color: var(--cl-danger);
    margin-right: 1rem;
  }
}

.ArticleNote {
  margin-top: 1rem;
  textarea {
    padding: 0.5em;
    resize: vertical;
    line-height: 1.4;
    border-color: var(--text-muted);
  }
}

.TopLevelArticleForm {
  position: fixed;
  right: calc(var(--top-form-toggler-size) + var(--px));
  bottom: calc(var(--top-form-toggler-size) + var(--px));
  max-width: 360px;
  --btn-size: 4.5rem;
  z-index: var(--z-TopLevelArticleForm);

  will-change: transform;
  transform-origin: bottom right;
  transition: transform 200ms ease, opacity 200ms ease;
  &.hidden {
    transform: scale(0);
    opacity: 0;
  }

  @media (max-width: $mobile) {
    min-width: initial;
    width: calc(100% - 2 * var(--px));
    left: 50%;
    bottom: 50vh;
    transform: translate3d(-50%, 50%, 0);

    &.hidden {
      transform: translate3d(-50%, 75%, 0);
      opacity: 0;
      z-index: -1;
    }
  }
}

.top-form-toggle {
  position: fixed;
  right: var(--px);
  bottom: 3rem;
  width: var(--top-form-toggler-size);
  height: var(--top-form-toggler-size);
  padding: 1rem;
  background: var(--cl-blue);
  border-radius: 50%;
  z-index: var(--z-form-toggle);
  transition: all 150ms ease;
  svg {
    width: 100%;
    height: 100%;
    fill: var(--cl-white);
  }
  &.close-form {
    transform: rotate(45deg);
  }
  &:hover {
    background: var(--cl-blue-dark);
  }
}

.ErrorModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--cl-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  p {
    margin-bottom: 1em;
  }
}

.LogIn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .login-buttons {
    margin: 1rem;
  }
  .login-button {
    margin: 0.25rem;
  }
}

.Footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.87) 0%, #232222 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;

  color: var(--text-muted);
  .footer-container {
    width: 62%;
    p {
      font-size: 1.5rem;
    }
    .credit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 2rem auto;
        a {
          transition: color 200ms ease;
          &:hover {
            color: var(--text-inverse);
          }
        }
      }
      .logo__juno > a {
        img {
          width: 15rem;
          transition: filter 300ms ease;
        }
        &:hover > img {
          filter: brightness(1.3);
        }
      }
    }
    .social {
      margin: 3rem auto 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .link-icons {
        display: flex;
        width: 15rem;
        justify-content: space-between;

        span {
          font-size: 2.5rem;
          svg {
            fill: var(--text-muted);
            transition: fill 300ms ease;
            &:hover {
              fill: var(--text-inverse);
            }
          }
        }
      }
      p {
        margin-top: 1em;
      }
    }
  }

  @media (min-width: $desktop) {
    .footer-container {
      position: relative;
      width: 90%;
      max-width: 900px;
      // height: 80%;
      p {
        margin: 0;
        font-size: 1rem;
      }
      .credit {
        width: 100%;
        max-width: 50rem;
        margin: 3rem auto;
        flex-direction: row;
        .logo {
          flex-basis: 24%;
        }
        p {
          margin: 0;
          text-align: center;
        }
      }

      .social {
        width: auto;
        .link-icons {
          width: 10rem;
          span {
            font-size: 2rem;
          }
        }
        p {
          margin-top: 0.5em;
          font-size: 0.75rem;
        }
      }
    }
  }
}

.About {
  color: var(--text-inverse);
  padding: 3rem 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr minmax(260px, 3fr);
  grid-template-rows: auto auto 6rem 300px;
  max-width: 700px;
  margin: 0 auto;

  .wiki {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
    h2 {
      font-family: serif;
    }
    blockquote {
      padding-left: 1rem;
    }
    figcaption {
      padding-left: 3rem;
    }
  }
  .what-is {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 1.25rem;
    p {
      margin-top: 1em;
    }
  }
  .back-to-main {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    place-self: center;
  }
  .illust-container {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-self: center;
    position: relative;
    right: Min(Max(0px, 3vw), 5rem);
    padding-top: 2rem;
    svg {
      width: Min(Max(300px, 50vw), 600px);
      height: Min(Max(250px, 30vw), 400px);
    }
  }
}
