:root {
  --cl-yellow: #eaae00;
  --cl-blue: #1a8ee2;
  --cl-dark-grey: #202124;
  --cl-error: red;
  --cl-danger: red;
  --cl-white: white;
  --cl-off-white: #f8f8ff;

  --text-main: #333;
  --text-inverse: white;
  --text-muted: #838383;

  --px: 2rem;
  --gutter: 1rem;
  --border-color: black;
  --border-radius: 7px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cl-dark-grey);
  color: var(--text-main);
}

ul {
  list-style: none;
  padding: 0;
}

a,
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
  color: var(--text-muted);
  transition: all 200ms ease;
  &:hover {
    color: var(--text-main);
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--cl-blue);
  }
}

input,
textarea,
.button {
  font: inherit;
  padding: 0.75em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

// UTILITIES

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

// Component Classes

.navbar {
  padding: 1rem var(--px);
}

.logo {
  font-size: 2.75rem;
  color: var(--text-inverse);
  letter-spacing: -2px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  padding: 1em;
  border-radius: var(--border-radius);

  background: white;
}

.form-topic {
  position: fixed;
  right: var(--px);
  bottom: var(--px);
}

.button {
  // background: var(--cl-yellow);
  // border-color: var(--cl-yellow);
  text-transform: uppercase;
  font-weight: bold;
}

.button-sm {
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
}

.button-danger {
  &:hover {
    color: var(--cl-danger);
    transform: scale(1.1);
  }
}

.input-control {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  input,
  textarea {
    width: 100%;
  }
  .error-message {
    position: absolute;
    font-size: 0.9em;
    bottom: -1.1em;
    left: 1em;
    color: var(--cl-error);
  }
}

// Components

.App {
  .app-main {
    padding: var(--px);
  }
}

.Topic {
  max-width: 350px;
  margin-bottom: var(--gutter);
  padding: 1rem;
  background: var(--cl-off-white);
  border-radius: var(--border-radius);
  .topic-name {
    margin-bottom: 0.5em;
  }
}
.Article {
  padding: 0.5rem;
  background: var(--cl-white);
  border: 1px solid var(--text-main);
  border-radius: var(--border-radius);
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .article-name {
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 0.5em;
  }
  .article-controls {
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      padding: 0 0.25em;
      gap: 0.5em;
    }
    button {
      font-size: 1rem;
    }
  }
  .article-note-text {
    width: 100%;
  }
}

.Stars {
  display: flex;
  .star-item {
    margin: 0;
    &.star-on {
      svg {
        fill: var(--cl-yellow);
      }
    }
  }
}

.ArticleForm {
  z-index: 1000;
}

.ArticleDeleteConfirm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  p {
    color: var(--cl-danger);
  }
}

.ArticleNote {
  margin-top: 1rem;
  textarea {
    padding: 0.5em;
    resize: vertical;
    line-height: 1.4;
  }
}
